.modal-container {
  float: none !important;
  clear: both;
}

.modal-content {
  max-height: 500px;
  overflow-y: auto;
}

@media (min-width: 450px) {
  .modal-container {
    float: left !important;
  }

  .modal-content {
    max-height: none;
    overflow-y: auto;
  }
}

.last-updated {
  position: relative;
  top: 0;
  left: 0;
  font-size: 12px;
}

@media (min-width: 728px) {
  .last-updated {
    top: 5px;
    left: -15px;
  }
}
