<div class="container-fluid">
  <div class="row">
    <div class="pull-xs-left m-b-2 m-x-1">
      <button type="button" class="btn btn-outline-primary text-uppercase">Start new period</button>
    </div>
    <div class="pull-xs-left m-b-2 m-x-1">
      <!--<select class="form-control" [(ngModel)]="selectedBudget">-->
      <!--<option *ngFor="let budget of budgets" [ngValue]="budget">{{budget.start_period}}</option>-->
      <!--</select>-->
      <select class="form-control">
        <option>Oct 10, 2016</option>
        <option>Oct 21, 2016</option>
      </select>
    </div>
  </div>
</div>
