<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-md-4">
      <h3><span class="tag tag-default p-1 w-100" *ngIf="selectedBudget"><small>Total: </small>{{selectedBudget.existing_cash | currency:'USD':true}}</span></h3>
      <!--<h3><span class="tag tag-default p-1 w-100"><small>Total: </small>$24,000</span></h3>-->
    </div>
    <div class="col-md-4">
      <h3><span class="tag tag-default p-1 w-100" *ngIf="selectedBudget"><small>Income: </small>{{selectedBudget.current_income | currency:'USD':true}}</span></h3>
    </div>
    <div class="col-md-4">
      <h3><span class="tag tag-default p-1 w-100" *ngIf="selectedBudget"><small>Expense: </small>$1,200</span></h3>
    </div>
  </div>
</div>
