<app-jumbotron></app-jumbotron>

<app-navbar></app-navbar>

<app-header [budgets]="budgets" [selectedBudget]="selectedBudget" (chosenBudget)="chosenBudget($event)"></app-header>

<app-overview [selectedBudget]="selectedBudget"></app-overview>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h4 class="card-header mb-0">
          Projection
        </h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let budget of selectedBudget.budget_items">
            <span class="float-xs-right">{{budget.projection | currency:'USD':true}}</span>
            {{budget.item}}
            <!--<span class="float-xs-right">$35</span>-->
            <!--Gas-->
          </li>
          <!--<li class="list-group-item">-->
            <!--<span class="float-xs-right">$115</span>-->
            <!--Food-->
          <!--</li>-->
          <li class="list-group-item" *ngIf="editingFields">
            <div class="col-md-6 px-0">
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-info">I</span></span>
                <input class="form-control" type="text" [(ngModel)]="newBudget.item">
              </div>
            </div>
            <div class="col-md-6 px-0">
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-usd">$</span></span>
                <input class="form-control" type="text" [(ngModel)]="newBudget.projection">
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-primary" (click)="updateBudget(newBudget)">Save</button>
          <button class="btn btn-danger mr-1">Delete</button>
          <button class="btn btn-secondary" (click)="editingFields = !editingFields">{{editingFields ? 'Cancel' : '+ Add new'}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h4 class="card-header mb-0">
          Actual
        </h4>
        <ul class="list-group list-group-flush">
          <!--<li class="list-group-item" (click)="itemClick()" *ngFor="let budget of selectedBudget.budget_items">-->
            <!--<span class="pull-xs-right" >{{getItemTotal(budget)}}</span>-->
            <!--{{budget.item}}-->
          <!--</li>-->
          <li class="list-group-item" *ngFor="let budget of selectedBudget.budget_items" (click)="budget.editing = true">
            <p class="mb-0">
              <span class="float-xs-right">{{getActualTotal(budget) | currency:'USD':true}}</span>
              {{budget.item}}
            </p>
            <!--<span class="float-xs-right">$35</span>-->
            <!--Gas-->
            <div *ngIf="budget.editing">
              <div class="col-xs-12 mt-1" *ngFor="let actual of budget.actual">
                <div class="col-md-6 px-0">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-info">I</span></span>
                    <input class="form-control" type="text" [(ngModel)]="actual.name">
                  </div>
                </div>
                <div class="col-md-6 px-0">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-usd">$</span></span>
                    <input class="form-control" type="text" [(ngModel)]="actual.amount">
                  </div>
                </div>
                <a href="#" class="mt-1 d-block">+ Add new Other item</a>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
          <!--<li class="list-group-item">-->
            <!--<span class="float-xs-right">$115</span>-->
            <!--Food-->
          <!--</li>-->
          <!--<li class="list-group-item">-->
            <!--<span class="float-xs-right">$85</span>-->
            <!--Other-->
          <!--</li>-->
        </ul>
        <div class="card-footer">
          <a href="#" class="btn btn-primary disabled">Save</a>
          <a href="#" class="btn btn-danger mr-1 disabled">Delete</a>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <app-results [totalSpent]="getTotalSpent()"></app-results>
  </div>
</div>

