.delete-button {
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

h1.display-4 {
  display: none;
}

h1.display-5 {
  display: block;
}

@media(min-width: 450px) {
  h1.display-4 {
    display: block;
  }

  h1.display-5 {
    display: none;
  }
}
