<div class="jumbotron mb-2 pt-3 pb-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mb-2">
        <h1 class="display-4">{{title}}</h1>
        <h1 class="display-5">{{title}}</h1>
        <p class="lead">A simple budget tracker built with <span class="fa fa-heart"></span> & <span class="fa fa-coffee"></span>!</p>
      </div>
      <div class="col-md-4 mb-2">
        <div *ngIf="!userService.isLoggedIn()">
          <small class="text-muted">You are not logged in, please click the 'Log In' button to get started</small>
          <button class="btn btn-primary w-100 mt-1" (click)="showDialog = true">Log In</button>

          <app-modal [(visible)]="showDialog">
            <div class="modal-dialog my-0" id="modal-container">
              <div class="modal-content">
                <div class="modal-header bg-faded rounded-top">
                  <button type="button" class="close" aria-label="Close" (click)="showDialog = !showDialog">
                    <span>&times;</span>
                  </button>
                  <h4 class="modal-title">{{register ? 'Sign Up Now!' : 'Log In'}}</h4>
                </div>
                <div class="modal-body">
                  <small class="text-muted mb-2 d-block">{{register ? 'The power to register is in your hands now!' : 'Please login below to start your adventure!'}}</small>
                  <div class="form-group mb-2" *ngIf="register">
                    <label for="formGroupInput">First Name</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-user"></span></span>
                      <input type="text" class="form-control" id="formGroupInput" placeholder="Enter here" [(ngModel)]="firstName">
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label for="formGroupInput1">Username</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-user"></span></span>
                      <input type="text" class="form-control" id="formGroupInput1" placeholder="Enter here" [(ngModel)]="username">
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label for="formGroupInput2">Password</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                      <input type="password" class="form-control" id="formGroupInput2" placeholder="Enter here" [(ngModel)]="password">
                    </div>
                  </div>
                  <div class="form-group mb-2" *ngIf="register">
                    <label for="formGroupInput3">Confirm Password</label>
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                      <input type="password" class="form-control" id="formGroupInput3" placeholder="Enter here" [(ngModel)]="confirmPassword">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button *ngIf="!register" type="button" id="login-button" class="btn btn-primary" (click)="login(username, password)">Log In</button>
                  <button *ngIf="register" type="button" id="register-button" class="btn btn-primary" (click)="signUp(username, password, confirmPassword, firstName)">Register</button>
                  <button *ngIf="register" type="button" id="signin-button" class="btn btn-secondary" (click)="register = false">Sign In</button>
                  <button *ngIf="!register" type="button" id="signup-button" class="btn btn-secondary" (click)="register = true">Sign Up</button>
                  <button type="button" id="cancel-button" class="btn btn-secondary" (click)="showDialog = !showDialog">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </app-modal>
        </div>

        <div *ngIf="userService.isLoggedIn() && currentUser">
          <h5 class="d-block text-xs-center">Hello, {{currentUser.firstName}}</h5>
          <div>
            <a href="#" class="text-muted d-block text-xs-center" (click)="userService.logout(); visibleBudgets = false">Logout</a>
          </div>
        </div>
        <div *ngIf="userService.isLoggedIn() && currentUser && !visibleBudgets">
          <button class="btn btn-primary w-100 mt-1 text-uppercase" (click)="createFirstBudget()">Start New Budget</button>
        </div>


        <app-jumbotron *ngIf="visibleBudgets && userService.isLoggedIn()" [currentUser]="currentUser" [selectedBudget]="selectedBudget" [totalSpentActual]="getTotalSpent(selectedBudget.budget_items, 'actual')"></app-jumbotron>
      </div>
    </div>
  </div>
</div>

<div class="dog-container" *ngIf="(!visibleBudgets && !userService.isLoggedIn()) || (!visibleBudgets && userService.isLoggedIn())">
  <div class="dog">
    <div class="ears"></div>

    <div class="body">
      <div class="eyes"></div>
      <div class="beard">
        <div class="mouth">
          <div class="tongue"></div>
        </div>
      </div>
      <div class="belt">
        <div class="locket"></div>
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
        <div class="tag"></div>
      </div>
      <div class="stomach">
      </div>
      <div class="legs">
        <div class="left"></div>
        <div class="right"></div>
      </div>
    </div>
    <div class="tail">
    </div>
  </div>
</div>

<div *ngIf="visibleBudgets && userService.isLoggedIn()">
  <app-header [budgets]="budgets" [selectedBudget]="selectedBudget" (chosenBudget)="chosenBudget($event)" (changeVisibleBudget)="changeVisibleBudget($event)"></app-header>

  <app-overview [selectedBudget]="selectedBudget" [totalSpent]="getTotalSpent(selectedBudget.budget_items, 'actual')"></app-overview>

  <!--Main Budget Input Section-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <h4 class="card-header mb-0 text-muted">
            Projection
          </h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let budget of selectedBudget.budget_items" (click)="budget.editing = true">
              <div class="projection text-capitalize" *ngIf="!budget.editing">
                <span class="float-xs-right">{{budget.projection | currency:'USD':true}}</span>
                {{budget.item}}
              </div>
              <div *ngIf="budget.editing" class="projection-inputs">
                <div class="col-md-6 px-0">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-info"></span></span>
                    <input class="form-control text-capitalize" type="text" [(ngModel)]="budget.item">
                  </div>
                </div>
                <div class="col-md-5 px-0">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                    <input class="form-control" type="number" [(ngModel)]="budget.projection">
                  </div>
                </div>
                <div class="col-md-1 delete-button" (click)="deleteBudgetItem(budget)">
                  <span class="fa fa-trash"></span>
                </div>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="card-footer">
            <button id="save-all" class="btn btn-primary mr-1" (click)="saveAll()">Save</button>
            <button id="add-new-btn" class="btn btn-secondary" (click)="addBudgetItem()">+ Add new</button>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card">
          <h4 class="card-header mb-0 text-muted">
            Actual
          </h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let budget of selectedBudget.budget_items" (click)="budget.editing = true">
              <p class="mb-0 actual text-capitalize">
                <span class="float-xs-right" [class.text-danger]="getActualTotal(budget) > budget.projection">{{getActualTotal(budget) | currency:'USD':true}}</span>
                {{budget.item}}
                <span *ngIf="getActualTotal(budget) > 0" class="fa fa-minus-circle text-danger"></span>
                <span *ngIf="getActualTotal(budget) < 0" class="fa fa-plus-circle text-success"></span>
              </p>
              <div *ngIf="budget.editing" class="actual-inputs">
                <div class="col-xs-12 mt-1 mb-1 p-0" *ngFor="let actual of budget.actual">
                  <div class="col-md-6 px-0">
                    <div class="input-group">
                      <span class="input-group-addon" (click)="toggleAddSubtract(actual)"><span class="fa fa-minus-circle" [class.fa-plus-circle]="!actual.expense" [class.text-success]="!actual.expense" [class.fa-minus-circle]="actual.expense" [class.text-danger]="actual.expense"></span></span>
                      <input class="form-control text-capitalize" type="text" [(ngModel)]="actual.name">
                    </div>
                  </div>
                  <div class="col-md-5 px-0">
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                      <input class="form-control" type="number" [(ngModel)]="actual.amount">
                    </div>
                  </div>
                  <div class="col-md-1 delete-button" (click)="deleteActual(budget, actual)">
                    <span class="fa fa-trash"></span>
                  </div>
                </div>
                <button class="add-actual btn btn-secondary" (click)="addActualItem(budget.actual)">+ Add</button>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" (click)="saveAll()">Save</a>
          </div>
        </div>
      </div>

      <app-results [selectedBudget]="selectedBudget" [totalSpentProjection]="getTotalSpent(selectedBudget.budget_items, 'projection')" [totalSpentActual]="getTotalSpent(selectedBudget.budget_items, 'actual')"></app-results>

    </div>
  </div>
</div> <!--wrapper ngIf div to make sure data is loaded-->
