<app-jumbotron></app-jumbotron>

<app-navbar></app-navbar>

<div class="m-2">
  <app-header [budgets]="budgets" [selectedBudget]="selectedBudget" (chosenBudget)="chosenBudget($event)"></app-header>

  <app-overview [selectedBudget]="selectedBudget"></app-overview>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h4 class="card-header mb-0">
            Projection
          </h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let budget of selectedBudget.budget_items" (click)="budget.editing = true">
              <div *ngIf="!budget.editing">
                <span class="float-xs-right">{{budget.projection | currency:'USD':true}}</span>
                {{budget.item | capitalize}}
              </div>
              <!--<span class="float-xs-right">$35</span>-->
              <!--Gas-->
              <div *ngIf="budget.editing">
                <div class="col-md-6 px-0">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-info"></span></span>
                    <input class="form-control" type="text" [(ngModel)]="budget.item">
                  </div>
                </div>
                <div class="col-md-5 px-0">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                    <input class="form-control" type="text" [(ngModel)]="budget.projection">
                  </div>
                </div>
                <div class="col-md-1 delete-button">
                  <span class="fa fa-trash"></span>
                </div>
                <div class="clearfix"></div>
              </div>
            </li>
            <!--<li class="list-group-item">-->
            <!--<span class="float-xs-right">$115</span>-->
            <!--Food-->
            <!--</li>-->
          </ul>
          <div class="card-footer">
            <button class="btn btn-primary mr-1" (click)="saveAll()">Save</button>
            <button class="btn btn-secondary" (click)="addBudgetItem(); addingBudgetItem = true" *ngIf="!addingBudgetItem">+ Add new</button>
            <button class="btn btn-secondary" (click)="cancelAdd(); addingBudgetItem = false" *ngIf="addingBudgetItem">Cancel</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h4 class="card-header mb-0">
            Actual
          </h4>
          <ul class="list-group list-group-flush">
            <!--<li class="list-group-item" (click)="itemClick()" *ngFor="let budget of selectedBudget.budget_items">-->
            <!--<span class="pull-xs-right" >{{getItemTotal(budget)}}</span>-->
            <!--{{budget.item}}-->
            <!--</li>-->
            <li class="list-group-item" *ngFor="let budget of selectedBudget.budget_items" (click)="budget.editing = true">
              <p class="mb-0">
                <span class="float-xs-right">{{getActualTotal(budget) | currency:'USD':true}}</span>
                {{budget.item | capitalize}}
              </p>
              <!--<span class="float-xs-right">$35</span>-->
              <!--Gas-->
              <div *ngIf="budget.editing">
                <div class="col-xs-12 mt-1 mb-1" *ngFor="let actual of budget.actual">
                  <div class="col-md-6 px-0">
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-info"></span></span>
                      <input class="form-control" type="text" [(ngModel)]="actual.name">
                    </div>
                  </div>
                  <div class="col-md-5 px-0">
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-usd"></span></span>
                      <input class="form-control" type="text" [(ngModel)]="actual.amount">
                    </div>
                  </div>
                  <div class="col-md-1 delete-button">
                    <span class="fa fa-trash"></span>
                  </div>
                </div>
                <a href="#" class="text-primary mt-1 mr-2">+ Add</a>
              </div>
              <div class="clearfix"></div>
            </li>
            <!--<li class="list-group-item">-->
            <!--<span class="float-xs-right">$115</span>-->
            <!--Food-->
            <!--</li>-->
            <!--<li class="list-group-item">-->
            <!--<span class="float-xs-right">$85</span>-->
            <!--Other-->
            <!--</li>-->
          </ul>
          <div class="card-footer">
            <a href="#" class="btn btn-primary" (click)="saveAll()">Save</a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <app-results [totalSpent]="getTotalSpent()"></app-results>
    </div>
  </div>
</div>

