<div class="clearfix"></div>
<div class="bg-faded p-1 snapshot-pill mt-2 text-success" [class.text-success]="(totalSpentActual.totalSaving / selectedBudget.current_income) > .1" [class.text-warning]="(totalSpentActual.totalSaving / selectedBudget.current_income) <= .1 && (totalSpentActual.totalSaving / selectedBudget.current_income) >= 0" [class.text-danger]="(totalSpentActual.totalSaving / selectedBudget.current_income) < 0">
  <small class="mb-0 mt-1 text-xs-center d-block text-uppercase health-snapshot float-xs-left">Health Snapshot</small>
  <div class="health-symbol text-xs-center">
    <span class="fa float-xs-right fa-thumbs-o-up text-muted" *ngIf="checkForNumber()"></span>
    <span class="fa float-xs-right" [class.text-success]="(totalSpentActual.totalSaving / selectedBudget.current_income) > .1" [class.fa-check-circle]="(totalSpentActual.totalSaving / selectedBudget.current_income) > .1" [class.text-warning]="(totalSpentActual.totalSaving / selectedBudget.current_income) <= .1 && (totalSpentActual.totalSaving / selectedBudget.current_income) >= 0" [class.fa-exclamation-circle]="(totalSpentActual.totalSaving / selectedBudget.current_income) <= .1 && (totalSpentActual.totalSaving / selectedBudget.current_income) >= 0" [class.text-danger]="(totalSpentActual.totalSaving / selectedBudget.current_income) < 0" [class.fa-times-circle]="(totalSpentActual.totalSaving / selectedBudget.current_income) < 0"></span>
  </div>
  <div class="clearfix"></div>
</div>
