.snapshot-pill {
  background-color: #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.health-symbol {
  font-size: 3em;
  color: forestgreen;
}

h1.display-4 {
  display: none;
}

h1.display-5 {
  display: block;
}

@media(min-width: 450px) {
  h1.display-4 {
    display: block;
  }

  h1.display-5 {
    display: none;
  }
}
